# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# Visual Studio
*.dbmdl
*.bak
*.log
*.ldf
*.ndf

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.swp
*.tmp
*.temp
